<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forums Workshop</title>
    <link rel="stylesheet" href="/static/style.css">	
</head>
<body>
<div id=title>
	<p>OneMillion</p>
</div>
<div id=member-control>
    <a href="something">Members</a>
    <a href="something">Profile</a>    
</div>
<div class="posts-control">
<hr>
<table>    
    	<th>
       	<a href="{{ url_for("topic_add") }}">Create</a>
    	</th>
    <tr>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {%for post in posts%}
	<tr>
        <td>{{post.title}}</td>
        <td><a href="something">edit</a></td>
        <td><a href="something">delete</a></td>
    </tr>
    {%endfor%}
</table>
</div>
</body>
<footer>
    Done by: Yonas
</footer>
</html>
