<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forums Workshop</title>
    <link rel="stylesheet" href="/static/style.css">	
</head>
<body>
<div id=title>
	<p>OneMillion</p>
</div>
<div id=member-control>
    <a href="something">Members</a>
    <a href="something">Profile</a>    
</div>
<div class="posts-control">
<hr>
<table>    
    	<th>
       	<a href="{{ url_for('topic_add') }}">Create</a>
    	</th>
    <tr>
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {%for index ,post in posts%}
	<tr>
        <td><a href="{{ url_for('topic_show'  ,post_id = post.id) }}">{{ index + 1 }} {{"•"+post.title}}</a></td>
        <td><a href="{{ url_for('topic_edit'  ,post_id = post.id) }}">edit</a></td>
        <td><a href="{{ url_for('topic_delete',post_id = post.id) }}">delete</a></td>
    </tr>
    {%endfor%}
</table>
</div>
</body>
<footer>
    Done by: Yonas
</footer>
</html>
<script 
        src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" 
        type="text/javascript" 
        crossorigin="anonymous">
</script>
<script>  
    document.addEventListener('DOMContentLoaded', function() {}, false);
    $(function()
    {
        $("a[href *= 'delete']").click(function(event)
        {
            event.preventDefault();
            var deletionLink = $(this).attr("href");
            var postId =deletionLink.slice(deletionLink.lastIndexOf("/")+1);
            $.ajax(
            {
                type: "DELETE",
                url: "/api/topic/delete/" + postId,
                success: function(response)
                {
                    alert("Deleted topic successfully !");
                }
            });
            location.reload(true);
        });
    });
</script>
