<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add topic</title>
</head>
<body>
	<form 	{% if post_id %}
				action="{{url_for("topic_edit",post_id=post_id)}}"
			{% else: %}
				action=" {{ url_for("topic_add") }} "
			{% endif %}
			method="post">
	<input type="text" name="title" {% if title %} value="{{title}}" {% endif %} />
	<input type="text" name="content" {% if content%} value="{{content}}" {% endif %} />
	<input type="submit" id="submit_button" {% if post_id %} value="Edit" {% else: %} value="Create" {% endif %} />
	</form>
</body>
</html>
<script 
		src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" 
		type="text/javascript" 
		crossorigin="anonymous">
</script>
<script  
	document.addEventListener('DOMContentLoaded', function() {}, false);
	$(function() {
    $("form").submit(function(event) {
        event.preventDefault();
        var topicTitle = $("input[name='title']").val();
        var topicContent = $("input[name='content']").val();
        var topicData = {
            "title": topicTitle,
            "content": topicContent
        };
        $.ajax({
            type: "POST",
            url: "/api/topic/add",
            data: JSON.stringify(topicData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(response) {
                alert("Added topic successfully !");
            }
        });
    });
});

</script>
